.tweet {
    border: 4px solid #545149;
    padding: 1em;
    margin: 2em 0em;
  }
  
  .tweet:hover {
    box-shadow: 5px 5px lightgrey;
  }
  
  .tweet header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0em .3em;
  }
  
  .wrapper {
    width: 160px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .handle {
    visibility: hidden;
  }
  
  .tweet:hover .handle {
    visibility: visible;
    color: rgb(163, 162, 162);
    position: relative;
    right: 0;
  }
  
  .content {
    padding: 1.5em;
    padding-left: 1em;
    border-bottom: 4px solid #545149;
  }
  
  .tweet footer {
    padding: .5em 0em;
    margin: 0em .3em;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .actions {
    float: right;
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }